---
import Photo from "../components/Photo.astro";
import getPhotos from "../lib/getPhotos";

const photos = await getPhotos();
---

<h2>
  Photos by{" "}
  <a
    href="https://unsplash.com/@artmsilva?utm_source=artmsilva.com&utm_medium=referral"
    target="_blank"
    rel="noopener"
  >
    Art Silva
  </a>{" "}
  on{" "}
  <a
    href="https://unsplash.com/?utm_source=artmsilva.com&utm_medium=referral"
    target="_blank"
    rel="noopener"
  >
    Unsplash
  </a>
</h2>

<section>
  {photos.map((photo: any) => <Photo photo={photo} />)}
</section>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30vw, 30vw));
    gap: 1rem;

    img {
      max-width: 100%;
      height: auto;
    }
  }
</style>