---
import SocialLink from "./SocialLink.astro";

const links = [
	{
		title: "Blue Sky",
		href: "https://bsky.app/profile/artfromclt.dev",
		backgroundColor: "#1185FE",
		color: "white",
	},
	{
		title: "LinkedIn",
		href: "https://www.linkedin.com/in/artfromclt/",
		backgroundColor: "#0A66C2",
		color: "white",
	},
	{
		title: "GitHub",
		href: "https://github.com/artmsilva/",
		backgroundColor: "#cdd9e5",
		color: "black",
	}
];
---

<h2>Here's a list of where you can find me on the internet.</h2>
<ul>
  {links.map((link) => <SocialLink {...link} />)}
</ul>

<style>
  ul {
    font-size: 1.2rem;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    padding-inline-start: 2rem;
  }
</style>
